
<div class="edit_event">
<form action="/events/<%= @event.id %>" method="post">
<input type="hidden" name="_method" value="patch">
<br><label for="artist">Artist:</label>    
<input type="text" id="artist" name="artist" value="<%= @event.artist %>">
<br><label for="date">Date:</label>    
<input type="date" id="date" name="date" value="<%= @event.date %>">
<br><label for="venue">Venue:</label>    
<input type="text" id="venue" name="venue" value="<%= @event.venue %>">
<br><label for="location">Location:</label>  
<input type="text" id="location" name="location" value="<%= @event.location %>">
<br><input type="submit" value="Submit">
</form>
</div>