
<div class="welcome2"><h3>Welcome, <%= current_user.first_name %>!</h3></div>

    <% @sorted.each do |event| %>    
    <div class="event">
    <div class="event_first_name">
    <%= event.user.first_name %> 
    </div>

    <div class="event_info">
    <br><img class="band_img" src="<%= event.url %>">
    <br><h3>Artist:</h3> <%= event.artist %>
    <br><h3>Date:</h3> <%= event.date %>
    <br><h3>Venue:</h3> <%= event.venue %>
    <br><h3>City/State:</h3> <%= event.location %>
    <% if event.user == current_user %>
        <a href="/events/<%= event.id %>/edit">Edit</a>
        <form action="/events/<%= event.id %>" method="post">
        <input type="hidden" name="_method" value="delete">
        <input type="submit" value="delete">
        </form>
        <% end %>
        </div>
        <hr>
        </div>
        <% end %>

