
<div class="welcome2"><h3>Welcome, <%= current_user.first_name %>!</h3></div>

    <% @events.each do |event| %>    
    <div class="event">
    <%= event.user.first_name %> 
    <p>Artist: <%= event.artist %></p>
    <p>Date: <%= event.date %></p>
    <p>Venue: <%= event.venue %></p>
    <p>City/State: <%= event.location %></p>
    <% if event.user == current_user %>
        <a href="/events/<%= event.id %>/edit">Edit</a>
        <form action="/events/<%= event.id %>" method="post">
        <input type="hidden" name="_method" value="delete">
        <input type="submit" value="delete">
        </form>
        <% end %></div>
        <% end %>

