

        <% current_user.events.each do |e| %>
            <div class="my_events">

            <p><%= e.date %>
                <p><img class="band_img" src="<%= e.url %>"></p>
                <br><h3>Artist:</h3> <%= e.artist %>
                <br><h3>Venue:</h3> <%= e.venue %>
                <br><h3>Location:</h3> <%= e.location %></p>
                 <a href="/events/<%= e.id %>/edit">Edit</a>
                 <form action="/events/<%= e.id %>" method="post">
                  <input type="hidden" name="_method" value="delete">
                  <input type="submit" value="delete">
                   </form></div>
        <% end %>
        